{% extends 'app/base.html' %}
{% load static %}


{% block css %}
{% endblock %}

{% block js %}


{% endblock %}


{% block contenido%}


{% load humanize %}
<div>
    <img src="{% static 'app/img/gato_maleta.jpg' %}" alt="">
</div>
 <h1>Los mejores transportines para gatos</h1>


<p>El transportín es un elemento esencial si tu mascota es un gato o un perro pequeño. Si te gusta viajar, sueles llevar a tu gato contigo habitualmente o prefieres llevarlo al veterinario de forma segura los transportines para gatos son un accesorio imprescindible para ti. 


    De plástico duro, en forma de caja, desmontable, mullido, con ruedas o en forma de mochila, hay transportines para todos los gustos y preferencias, tanto para las del animal como las del dueño. Si te ves abrumado con todas las opciones disponibles, desde Tiendanimal te lo ponemos fácil para que elijas el mejor transportín para tu gato. ¡Sigue leyendo para enterarte de cuáles son los mejores transportines para gatos!</p>


<h2>¿Cómo elegir el mejor transportín para tu gato?</h2>


<p>En función de la asiduidad con la que viajes, el tamaño de tu animal y tus preferencias personales en cuanto a comodidad de transporte deberás elegir un modelo de transportín por encima de otros.


    Lo primero que hay que tener en cuenta es que el transportín se adapte al tamaño de nuestro animal, que le permita moverse y dar vueltas con facilidad, sin sentirse agobiado en ningún momento. 
    
    Otra cuestión a tener en cuenta a la hora de elegir un transportín u otro es la forma elegida para trasladarse con el animal, es decir, si se va caminando, en coche, en tren o en otro tipo de vehículo, así como la preferencia personal del dueño de llevar a su mascota, si prefiere cargarlo de un hombro, de ambos, en maleta, etc.
    
    No te pierdas nuestro artículo “Cómo viajar con tu gato en coche“</p>


    <h2>Consejos para elegir el mejor transportín para gatos</h2>


    <p>El mejor transportín para tu gato será el que se adapte mejor a sus necesidades y a las tuyas y el que os resulte más cómodo a los dos. Si viajas muy frecuentemente, el animal pasará muchas horas dentro del transportín, así que lo mejor es hacerse con uno que sea fácil de manejar para ti y lo más agradable posible para él. 


        Si viajas además en avión tendrás que informarte de las normas de cada aerolínea para saber qué tipo de transportín necesita tu mascota y en qué condiciones puede viajar, además de todo lo que necesitas para no tener problemas ni en el aeropuerto ni en el país de destino. 
        
        La mejor manera de saber el tamaño del transportín es midiendo a tu animal desde diferentes partes:
        
        Desde el hocico hasta el inicio de la cola.
        Las patas delanteras desde el suelo hasta la articulación superior.
        El ancho de los hombros.
        Desde el suelo hasta la parte más alta de la cabeza o las orejas si las tiene hacia arriba.
        Teniendo ya estas cifras, debemos pasar a elegir el tamaño del transportín realizando una serie de cuentas:
        
        Ancho: El ancho de sus hombros multiplicado por 2.
        Largo: El largo total del animal más la mitad del total de sus patas.
        Alto: La altura del animal más 2 centímetros.</p>


        


{% endblock %}
