{% extends 'app/base.html' %}
{% load static %}


{% block css %}
{% endblock %}

{% block js %}


{% endblock %}


{% block contenido%}


{% load humanize %}
<div>
    <img src="{% static 'app/img/perro_mojado.jpg' %}" alt="">
</div>


<h1>Descubre cómo refrescar a un perro en verano</h1>


<p>Nuestros amigos peludos, especialmente los perros, sufren más que nosotros las altas temperaturas, ya que su sistema de refrigeración es diferente al nuestro. Al no tener glándulas sudoríparas por todo el cuerpo, los perros no pueden regular su temperatura como los humanos y lo hacen a través del sudor en las almohadillas de las patas y el jadeo. </p>


<h2>4 consejos para refrescar a tu perro en verano y ¡disfrutarlo!</h2>


<p>Los perros también pueden sufrir el temido golpe de calor, por lo que es primordial mantener la temperatura corporal de nuestro perro. Aquí te dejamos algunos consejos para combatir las altas temperaturas y mantener a tu amigo peludo fresco:</p>
<h3>Mantén su agua limpia y fresca</h3>
<p>Aconsejamos tener un bebedero de refuerzo durante el periodo estival y cambiar el agua con frecuencia. Esto es indispensable para mantener a tu perro hidratado.</p>


<h3>Refresca a tu perro con agua</h3>


<p>Pasa un paño húmedo o una toalla húmeda sobre el pelo de tu perro para refrescarle y ayudarle a combatir las altas temperaturas.</p>


<h3>Ten cuidado con el corte de pelo</h3>


<p>Aunque parezca mentira, no es recomendable cortar mucho el pelo en la mayoría de los perros, puesto que el pelo aparte de aportar protección frente a lesiones o quemaduras, les ayuda a combatir el calor. Es mucho más recomendable cepillar regularmente a nuestros perros para eliminar el pelo muerto y evitar los nudos.</p>


<h2>Bebedero congelable</h2>


<p>El comedero refrescante Summer Vibes es muy fácil de utilizar solo tienes que retirar el bowl del soporte y meterlo al congelador durante 2 horas aproximadamente. Cuando lo saques, lo vuelvas a colocar y lo rellenes de agua, ésta se mantendrá fría para que tu perro o gato pueda disfrutar de agua fresquita para calmar la sed y el calor.</p>


<h2>Camas y mantas refrescantes para perros</h2>


<p>Un descanso sin alteraciones por el calor es ideal para estar bien despejado y con energía al día siguiente. Te indicamos las mejores camas para refrescar a tu perro en verano:


    Esterilla para perros refrigerante color gris: Esterilla refrigerante para perros que proporciona un efecto refrescante al contacto corporal y se mantiene fría durante varias horas. Tras un breve descanso se podrá utilizar de nuevo, ya que funciona sin refrigeración ni electricidad.
    Cojín refrescante para mascotas Summer Vibes: Cojín refrescante ideal para el descanso de las mascotas que reduce su sensación térmica corporal. Funciona sin baterías ni cables.
    Pet esterilla refrigerante azul para perros: Esterilla refrigerante para perros rellena de goma espuma y gel no tóxico. En condiciones normales, la esterilla refrigerante tendrá una temperatura 5-10 ℃ menor que la temperatura de la estancia.</p>


{% endblock %}
